body, html {
    margin: 0;
    padding: 0;
}
.logo-section .logo {
    width: 250px;
    margin-right: 8px; /* or the desired space between the logo and the text */
}

.text-beside-logo {
    text-transform: uppercase;
    font-weight: 700;
    color: #05296A;
}

.check-list {
    list-style-type: none; /* Removes default bullet points */
    padding-left: 0; /* Removes default padding */
}

.check-list li::before {
    content: "✔"; /* Unicode check mark */
    color: green; /* Check mark color */
    margin-right: 8px; /* Space between the check mark and the text */
}

.col-md-12.align-items-left {
    /* This is an example gradient from blue to purple */
    background: linear-gradient(90deg, rgba(67, 206, 162, 1) 0%, rgba(24, 90, 157, 1) 100%);

    /* Optional: Add some padding to make the gradient more visible */
    padding: 20px;
}