body, html {
    margin: 0;
    padding: 0;
}

.logo-section .logo {
    width: 250px;
    margin-right: 8px;
}

.text-beside-logo {
    text-transform: uppercase;
    font-weight: 700;
    color: #05296A;
}

.check-list {
    list-style-type: none;
    padding-left: 0;
}

.check-list li::before {
    content: "✔";
    color: green;
    margin-right: 8px;
}

.reviewer-image {
    width: 50px;
    border-radius: 50%; /* Makes the image a circle */
    border: 2px solid black; /* Adds a border */
}

.col-md-12.align-items-left {
    background: linear-gradient(90deg, #05296A 0%, #116DAB 50%, #05296A 100%);
    padding: 20px;
}

.headerText{
    color: white;
}
.subHeaderText{
    color: white;
}

.input-container input.form-control, 
.input-container select.form-control {
    border-radius: 25px;
    padding-left: 40px;
}


.input-container select.form-control {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNi41MzAzIDguOTY5NjdDMTYuODMyIDkuMjYyNTYgMTYuODMyIDkuNzM3NDQgMTYuNTMwMyAxMC4wMzAzTDEyLjUzMDMgMTQuMDMwM0MxMi4yMzQ0IDE0LjMyMzIgMTEuNzYyNiAxNC4zMjMyIDExLjQ2OTcgMTQuMDMwM0w3LjQ2OTY3IDEwLjAzMDNDNy4xNzY3OCA5LjczNzQ0IDcuMTc2NzggOS4yNjI1NiA3LjQ2OTY3IDguOTY5NjdDNy43NjI1NiA4LjY3Njc4IDguMjM0NCA4LjY3Njc4IDguNTMwMzMgOC45Njk2N0wxMiAxMi40MzkzTDE1LjQ2OTcgOC45Njk2N0MxNS43NjI2IDguNjc2NzggMTYuMjM0NCA4LjY3Njc4IDE2LjUzMDMgOC45Njk2N1oiIGZpbGw9IiMwMDAwMDAiLz4KPC9zdmc+Cg==');
    background-repeat: no-repeat;
    background-position: right 1em center;
    background-size: 16px 16px;
    padding-right: 2em;
}

.input-container .input-number {
    position: absolute;    
    background-color: #D68D00;
    width: 24px;           
    height: 24px;          
    border-radius: 50%;    
    text-align: center;    
    line-height: 24px;     
    left: 10px;            
    top: 50%;              
    transform: translateY(-50%); 
}

.input-container input.form-control {
    padding-left: 40px;
}

.input-container select.form-control {
    padding-left: 40px; 
    padding-right: 40px;
}